# Preprocess

In [10]:
import numpy as np
import pandas as pd

In [11]:
train_data = pd.read_csv("/content/drive/MyDrive/Semester7/ML/project/data/train-split.csv", index_col=0)
train_data.reset_index(inplace = True, drop = True)
train_data.head()

      id  amount_tsh  ... waterpoint_type_group label
0  69572      6000.0  ...    communal standpipe     0
1   8776         0.0  ...    communal standpipe     0
2  34310        25.0  ...    communal standpipe     0
3  67743         0.0  ...    communal standpipe     2
4  19728         0.0  ...    communal standpipe     0

[5 rows x 41 columns]

In [12]:
test_data = pd.read_csv("/content/drive/MyDrive/Semester7/ML/project/data/test-split.csv", index_col=0)
test_data.reset_index(inplace = True, drop = True)

submission_data = pd.read_csv("/content/drive/MyDrive/Semester7/ML/project/data/pump-test.csv", index_col=0)
submission_data.head()

       amount_tsh date_recorded  ...     waterpoint_type  waterpoint_type_group
id                               ...
50785         0.0    2013-02-04  ...               other                  other
51630         0.0    2013-02-04  ...  communal standpipe     communal standpipe
17168         0.0    2013-02-01  ...               other                  other
45559         0.0    2013-01-22  ...               other                  other
49871       500.0    2013-03-27  ...  communal standpipe     communal standpipe

[5 rows x 39 columns]

# Categorical features

In [13]:
def calc_percentage(df, feature):
  return (df[feature].value_counts()/len(df) > 0.01)

def reduce_categories(row, percentage, feature):
  if row[feature] not in percentage.keys() or percentage[row[feature]] == False:
    row[feature] = "other"
  return row

In [14]:
cat_cols = ["funder", "installer", "wpt_name", "basin", "lga", "scheme_name" , "quantity", "extraction_type_class", "scheme_management", "management", "payment", "source", "water_quality",  "waterpoint_type", "subvillage"]

for feature in cat_cols:
  print(feature)
  mod_val = train_data[feature].mode()[0]
  train_data[feature] = train_data[feature].fillna(mod_val)
  test_data[feature] = test_data[feature].fillna(mod_val)
  submission_data[feature] = submission_data[feature].fillna(mod_val)

  train_data[feature].replace("0", "other", inplace = True)
  test_data[feature].replace("0", "other", inplace = True)
  submission_data[feature].replace("0", "other", inplace = True)

  percentage = calc_percentage(train_data, feature)
  train_data = train_data.apply(reduce_categories, args = (percentage, feature), axis='columns')
  test_data = test_data.apply(reduce_categories, args = (percentage, feature), axis='columns')
  submission_data = submission_data.apply(reduce_categories, args = (percentage, feature), axis='columns')

cat_cols2 = ["permit", "public_meeting"]

for feature in cat_cols2:
  print(feature)
  mod = train_data[feature].mode()[0]
  train_data[feature] = train_data[feature].fillna(mod)
  test_data[feature] = test_data[feature].fillna(mod)
  submission_data[feature] = submission_data[feature].fillna(mod)

  train_data[feature].replace("0", "other", inplace = True)
  test_data[feature].replace("0", "other", inplace = True)
  submission_data[feature].replace("0", "other", inplace = True)

funder
installer
wpt_name
basin
lga
scheme_name
quantity
extraction_type_class
scheme_management
management
payment
source
water_quality
waterpoint_type
subvillage
permit
public_meeting

In [15]:
cat_train_data = train_data.copy()
cat_test_data = test_data.copy()
cat_submission_data = submission_data.copy()

# Cont features

In [16]:
train_data = cat_train_data.copy()
test_data = cat_test_data.copy()
submission_data = cat_submission_data.copy()

In [17]:
# adjust test data accordingly
temp = train_data.copy()
temp_test = test_data.copy()
temp_sub = submission_data.copy()

amount_dict = {}
long_dict = {}
lat_dict = {}
pop_dict = {}
const_dict = {}

def replace(group, mean, mini, maxi, mean_dict):
    outliers = ((group <=mini) | (group > maxi))
    mean = group[~outliers].mean() if len(group[~outliers])>0 else mean
    group[outliers] = mean
    mean_dict[group.name] = mean
    return group

def replace_test(group, mean, mini, maxi, mean_dict):
    outliers = ((group <=mini) | (group > maxi))
    mean = mean_dict[group.name] if (group.name in mean_dict.keys()) else mean
    group[outliers] = mean
    return group


amount_tsh_mean = temp[(temp.amount_tsh >0) & (temp.amount_tsh < 100)].amount_tsh.mean()
temp.amount_tsh = temp.groupby('subvillage').amount_tsh.transform(replace, amount_tsh_mean, 0, 100, amount_dict)
temp_test.amount_tsh = temp_test.groupby('subvillage').amount_tsh.transform(replace_test, amount_tsh_mean, 0, 100, amount_dict)
temp_test.amount_tsh = temp_test.groupby('subvillage').amount_tsh.transform(replace_test, amount_tsh_mean, 0, 100, amount_dict)

long_mean = temp[(temp.longitude >25) & (temp.longitude < 45)].longitude.mean()
temp.longitude = temp.groupby('subvillage').longitude.transform(replace, long_mean, 25, 45, long_dict)
temp_test.longitude = temp_test.groupby('subvillage').longitude.transform(replace_test, long_mean, 25, 45, long_dict)
temp_test.amount_tsh = temp_test.groupby('subvillage').amount_tsh.transform(replace_test, amount_tsh_mean, 0, 100, amount_dict)

lat_mean = temp[(temp.latitude >-15) & (temp.latitude < 0)].latitude.mean()
temp.latitude = temp.groupby('subvillage').latitude.transform(replace, lat_mean, -15, -.0001, lat_dict)
temp_test.latitude = temp_test.groupby('subvillage').latitude.transform(replace_test, lat_mean, -15, -.0001, lat_dict)
temp_test.amount_tsh = temp_test.groupby('subvillage').amount_tsh.transform(replace_test, amount_tsh_mean, 0, 100, amount_dict)

pop_mean = temp[(temp.population >0) & (temp.population < 20000)].population.mean()
temp.population = temp.groupby('subvillage').population.transform(replace, pop_mean, 0, 20000, pop_dict)
temp_test.population = temp_test.groupby('subvillage').population.transform(replace_test, pop_mean, 0, 20000, pop_dict)
temp_test.amount_tsh = temp_test.groupby('subvillage').amount_tsh.transform(replace_test, amount_tsh_mean, 0, 100, amount_dict)

const_mean = temp[(temp.construction_year > 1400) & (temp.construction_year < 2021)].construction_year.mean()
temp.construction_year = temp.groupby('funder').construction_year.transform(replace, const_mean, 1400, 2021, const_dict)
temp_test.construction_year = temp_test.groupby('funder').construction_year.transform(replace_test, const_mean, 1400, 2021, const_dict)
temp_test.amount_tsh = temp_test.groupby('subvillage').amount_tsh.transform(replace_test, amount_tsh_mean, 0, 100, amount_dict)

In [18]:
def replace(group, test_group):
    groupgt0 = group[group>0]
    q1 = groupgt0.quantile(0.25)
    q3 = groupgt0.quantile(0.75)
    iqr = q3 - q1
    median = groupgt0.median()
    outliers = (group< q1-1.5*iqr) | (group> q3+1.5*iqr)
    test_outliers = (test_group < q1-1.5*iqr) | (test_group > q3+1.5*iqr)
    group[outliers] = median
    test_group[test_outliers] = median
    train_dict = {"q1":q1, "q3": q3, "iqr": iqr, "median": median}
    return group, test_group

In [19]:
train_data = temp
test_data = temp_test
submission_data = temp_sub

train_data.construction_year = 2021- train_data.construction_year
test_data.construction_year = 2021- test_data.construction_year
submission_data.construction_year = 2021- submission_data.construction_year

# Split

In [20]:
features = ["amount_tsh",	"funder",	"gps_height",	"installer", "longitude",	"latitude",	"wpt_name",	"basin",	"region_code",	"district_code",	"lga",	"population",	"scheme_management",	"scheme_name",	"permit",	"construction_year",	"extraction_type_class",	"management",	"payment",	"water_quality",	"quantity",	"source",	"waterpoint_type", "subvillage"]

X_train = train_data[features]
y_train = train_data["label"]
X_test = test_data[features]
y_test = test_data[["id", "label"]]

submission_data = submission_data[features]

In [21]:
y_test.head()
X_test.head()

   amount_tsh                  funder  ...     waterpoint_type subvillage
0   37.866417                   other  ...           hand pump      other
1   20.000000  Government Of Tanzania  ...  communal standpipe      other
2    6.000000                   other  ...  communal standpipe      other
3   37.866417  Government Of Tanzania  ...  communal standpipe      other
4   37.866417  Government Of Tanzania  ...  communal standpipe      other

[5 rows x 24 columns]

# Encode

In [22]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

X_train2 = X_train.copy()
X_test2 = X_test.copy()
sub_data2 = submission_data.copy()

enc_type = 2
object_cols = ["funder", "installer", "wpt_name", "basin", "lga", "scheme_name", "quantity", "extraction_type_class", "scheme_management", "management", "payment", "source", "water_quality",  "waterpoint_type", "subvillage"]

if(enc_type == 1):

  OH_encoder = OneHotEncoder(handle_unknown = 'ignore', sparse=False)

  OH_encoder.fit(X_train2[object_cols])

  OH_cols_train = pd.DataFrame(OH_encoder.transform(X_train2[object_cols]))
  OH_cols_test = pd.DataFrame(OH_encoder.transform(X_test2[object_cols]))
  OH_cols_sub = pd.DataFrame(OH_encoder.transform(X_test2[object_cols]))

  # One-hot encoding removed index; put it back
  OH_cols_train.index = X_train2.index
  OH_cols_test.index = X_test2.index
  OH_cols_sub.index = sub_data2.index

  # Remove categorical columns (will replace with one-hot encoding)
  num_X_train = X_train2.drop(object_cols, axis=1)
  num_X_test = X_test2.drop(object_cols, axis=1)
  num_sub_data = sub_data2.drop(object_cols, axis=1)

  # Add one-hot encoded columns to numerical features
  X_train2 = pd.concat([num_X_train, OH_cols_train], axis=1)
  X_test2 = pd.concat([num_X_test, OH_cols_test], axis=1)
  sub_data2 = pd.concat([num_sub_data, OH_cols_sub], axis=1)

else:
  OD_encoder = OrdinalEncoder()

  X_train2.loc[:, object_cols] = OD_encoder.fit_transform(X_train2.loc[:, object_cols])
  X_test2.loc[:, object_cols] = OD_encoder.fit_transform(X_test2.loc[:, object_cols])
  sub_data2.loc[:, object_cols] = OD_encoder.fit_transform(sub_data2.loc[:, object_cols])

X_train2.head()

   amount_tsh  funder  gps_height  ...  source  waterpoint_type  subvillage
0   37.866417    16.0        1390  ...     8.0              0.0         1.0
1   37.866417    16.0        1399  ...     5.0              0.0         1.0
2   25.000000    16.0         686  ...     0.0              1.0         1.0
3   37.866417    13.0         263  ...     3.0              1.0         1.0
4   37.866417    16.0           0  ...     5.0              0.0         1.0

[5 rows x 24 columns]

In [23]:
X_test2.head()

   amount_tsh  funder  gps_height  ...  source  waterpoint_type  subvillage
0   37.866417    16.0           0  ...     3.0              2.0         1.0
1   20.000000     5.0        1007  ...     8.0              0.0         1.0
2    6.000000    16.0         962  ...     8.0              0.0         1.0
3   37.866417     5.0        1415  ...     3.0              0.0         1.0
4   37.866417     5.0           0  ...     6.0              0.0         1.0

[5 rows x 24 columns]

# Model

In [24]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, max_depth=100, random_state=1)

In [25]:
model.fit(X_train2, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=100, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [26]:
val_preds = model.predict(X_test2)
val_preds=np.rint(val_preds).astype(int)
val_preds = pd.DataFrame({"id": test_data.id, "label":val_preds})
val_preds.head()

      id  label
0  53934      1
1   1843      1
2  74197      0
3  51072      2
4  17386      2

In [27]:
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test["label"], val_preds["label"])
recall = np.diag(cm) / np.sum(cm, axis = 1)
precision = np.diag(cm) / np.sum(cm, axis = 0)   

print("- recall: ", recall)
print("- precision: ", precision)                                                                                                                     

accuracy = y_test[(y_test["label"] == val_preds["label"])].count()/len(y_test)
accuracy[0]
print(f"- Accuracy:{accuracy[0]}")

- recall:  [0.72873991 0.5473251  0.67258883]
- precision:  [0.85010862 0.16583541 0.93200469]
- Accuracy:0.6923583662714098

In [28]:
sub_data2.head()

       amount_tsh  funder  gps_height  ...  source  waterpoint_type  subvillage
id                                     ...
50785         0.0    16.0        1996  ...     5.0              4.0         1.0
51630         0.0     5.0        1569  ...     8.0              0.0         1.0
17168         0.0     5.0        1567  ...     5.0              4.0         1.0
45559         0.0    16.0         267  ...     7.0              4.0         1.0
49871       500.0    16.0        1260  ...     8.0              0.0         1.0

[5 rows x 24 columns]

In [29]:
print(train_data["label"].value_counts())
print(y_test["label"].value_counts())
print(val_preds["label"].value_counts())

0    30648
2    21642
1     4074
Name: label, dtype: int64
0    1611
2    1182
1     243
Name: label, dtype: int64
0    1381
2     853
1     802
Name: label, dtype: int64

In [30]:
importances = list(model.feature_importances_)
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(features, importances)]
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)
feature_importances

[('quantity', 0.18),
 ('longitude', 0.15),
 ('latitude', 0.15),
 ('waterpoint_type', 0.09),
 ('gps_height', 0.07),
 ('construction_year', 0.07),
 ('population', 0.05),
 ('extraction_type_class', 0.03),
 ('payment', 0.03),
 ('funder', 0.02),
 ('region_code', 0.02),
 ('district_code', 0.02),
 ('lga', 0.02),
 ('management', 0.02),
 ('source', 0.02),
 ('amount_tsh', 0.01),
 ('installer', 0.01),
 ('wpt_name', 0.01),
 ('basin', 0.01),
 ('scheme_management', 0.01),
 ('scheme_name', 0.01),
 ('permit', 0.01),
 ('water_quality', 0.01),
 ('subvillage', 0.0)]

# Output

In [32]:
predictions = model.predict(sub_data2)
predictions=np.rint(predictions).astype(int)

labels = ['functional', 'functional needs repair', 'non functional']

output = pd.DataFrame({"id":submission_data.index, "status_group": predictions})

def change(value):
  if value == 0:
    return "functional"
  if value == 1:
    return "functional needs repair"
  return "non functional"

output.status_group = output.status_group.transform(change)

output.head()

      id             status_group
0  50785  functional needs repair
1  51630               functional
2  17168  functional needs repair
3  45559           non functional
4  49871               functional

In [33]:
output.to_csv("/content/drive/MyDrive/Semester7/ML/project/data/out.csv", index = False)