Splits the original dataset into train, test datasets

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [4]:
# train feature ds
feature_path = '/content/drive/MyDrive/Semester7/ML/project/data/pump-train.csv'
train_features = pd.read_csv(feature_path)

# label ds
label_path = '/content/drive/MyDrive/Semester7/ML/project/data/pump-labels.csv'
labels = pd.read_csv(label_path)

lb_make = LabelEncoder()
labels['label'] = lb_make.fit_transform(labels['status_group'])

# train ds
train_features = pd.merge(train_features, labels[['id', 'label']], on='id')
labels.head()

      id    status_group  label
0  69572      functional      0
1   8776      functional      0
2  34310      functional      0
3  67743  non functional      2
4  19728      functional      0

In [5]:
msk = np.random.rand(len(train_features)) < 0.95
train_df = train_features[msk]
test_df = train_features[~msk]
print(len(train_df), len(test_df))

56364 3036

In [6]:
train_df.to_csv("/content/drive/MyDrive/Semester7/ML/project/data/train-split.csv")
test_df.to_csv("/content/drive/MyDrive/Semester7/ML/project/data/test-split.csv")